@import url(compass/reset.css);
body, html {
  margin: 0;
  padding: 0; }

body {
  font-family: Verdana;
  font-size: 10pt; }
  body h1 {
    text-transform: uppercase;
    font-size: 21pt;
    margin-bottom: 0;
    padding-bottom: 0; }
    body h1 em {
      font-style: normal;
      font-size: 26pt;
      color: #FF0000 !important; }

#project_link {
  clear: both; }

#banner {
  position: absolute;
  top: -200px;
  left: -80px;
  z-index: -20000;
  -moz-transform: rotate(-5deg);
  -webkit-transform: rotate(-5deg) translateY(-60px);
  color: #00ebf4;
  font-weight: bold;
  font-family: Helvetica, sans-serif;
  font-size: 300pt; }

#content {
  margin: 8em; }

#license {
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;
  font-size: 7.5pt;
  color: #999; }

#header {
  text-align: right;
  width: 800px;
  padding-bottom: 4em; }

#videos {
  float: left; }

#quotes {
  max-width: 550px;
  float: right; }

blockquote {
  float: right;
  width: 100%;
  clear: both; }
  blockquote img {
    float: right;
    padding-left: 3em;
    padding-right: 3em;
    border: none; }
  blockquote cite {
    float: right;
    font-family: Verdana, sans-serif !important;
    font-style: normal;
    font-weight: bold; }
    blockquote cite a {
      text-decoration: none;
      font-size: 14pt;
      float: right;
      text-align: right;
      padding-left: 1em; }
    blockquote cite span {
      font-size: 10pt;
      text-align: right;
      display: inline-block;
      width: 310px; }
  blockquote p {
    text-align: right;
    background: #f0f0f0;
    white-space: nowrap;
    font-family: serif;
    font-size: 18pt;
    font--weight: bold;
    color: #00ebf4; }
